* {
    box-sizing: border-box;
}

body, h1, h2, ul {
    margin: 0;
}

h1 {
    font-size: 14px;
}

button, ul {
    padding: 0;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}